	*
	{
	margin:0px;
	padding:0px;	
	}
	

.im
{
	width:335px;
}

.im1
{
	width:340px;
}
	
/*index begin*/

.carousel-item
{
height:	100vh;
min-height: 300px;
background: no-repeat center center scroll;
background-size: cover; 
}

.carousel-caption
{
bottom:180px;
}




.navbar-brand
{
font-size:25px;
font-weight:bold;
letter-spacing:2px;	
}

.navbar-collapse .navbar-nav .nav-item .nav-link
{
color:#FFEE85;	
}

/*index end*/


/*about begin*/

.ab
{
font-size:21px;
letter-spacing:1px;	
}

.ab1
{
font-size:18px;
letter-spacing:2px;		
}

.ab2
{
width: 100px;
}

.ab3
{
height: 26rem;
}

/*about end*/

/*nominate begin*/

.nom
{
background-image: url(../images/nominate_pc.png);
background-size: cover;
color: #fff !important;
}

/*nominate end*/

/*media begin*/

.me
{
height:245px;
}

/*media end*/

/*contact begin*/

.con
{
background-image: url(../images/contact_pc.png);
background-size: cover;
color: #fff !important;
}

.con1
{
	margin-left: 92px;
}

/*contact end*/

/*footer begin*/

.bgc
{
background-color: #01FED8;	
}

/*footer end*/


@media only screen and (min-width:320px) and (max-width:480px)
{
	.im
{
	width:200px;
}

.im1
{
	width:220px;
}
.re
{
display: none;
}	

}